body {
  background-color: rgb(231, 228, 223);
}
.outer {
  display: flex;
  justify-content: center;
}
.header {
  text-align: center;
  width: 70%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgb(192, 179, 179);
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 8px rgb(192, 179, 179);
  padding: 15px;
  width: 60.5%;
  background-color: aliceblue;
  margin-top: 10px;
}
.add {
  margin-right: 50%;
}
.btn-group {
  display: flex;

  align-items: right;
}
.CheckBox {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  width: 63.5%;
  height: 5%;
}

.EditDeleteBtn {
  margin-left: 43.6%;
}

.striked {
  text-decoration-line: line-through;
}
.notStriked {
  text-decoration-line: none;
}
@media only screen and (max-width: 926px) {
  .footer {
    flex-direction: column;
  }
  .add {
    margin-right: 0;
  }
}
@media only screen and (max-width: 576px) {
  .btn-group {
    display: flex;
    flex-direction: column;
  }
}
